body{
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333333;
}

h1{
    text-align: end;
    font-size: 10px;
}

p{
    font-size: large;
    color:blue;
}